@keyframes fade-in-to-top {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-to-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes width-right-to-left {
  from {
    width: calc(30% - 21rem);
    margin-left: 70%;
  }

  to {
    width: calc(100% - 21rem);
    margin-left: initial;
  }
}

